* {
    font-family: Cambria;
}

body {
    background-color: linen;
}

#boczny, header, footer {
    background-color: steelblue;
    color: white;
    text-align: center;
}

#boczny {
    width: 25%;
    height: 510px;
    margin: 0 1%;
    float: left;
    box-shadow: 4px 4px 5px dimgray;
}

header {
    width: 25%;
    height: 80px;
    float: left;
}

main {
    width: 73%;
    height: 400px;
    float: left;
}

button {
    background-color: steelblue;
    color: white;
    width: 20%;
    padding: 15px;
    margin-top: 30px;
    font-size: 130%;
    border: none;
}

button:hover {
    background-color: navy;
}

main > div {
    background-color: lightblue;
    margin-right: 80px;
    padding: 10px;
}

#postep {
    width: 100%;
    height: 20px;
    background-color: lightgray;
    margin-top: 20px;
    clear: both;
}

#postep div {
    width: 50%; /* Przykładowy postęp */
    height: 100%;
    background-color: green;
}
